<ion-header *ngIf="countryDetail$ | async as c">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="countries" text=""></ion-back-button>
    </ion-buttons>
    <ion-title> {{c.country}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="countryDetail$ | async as c">
    <ion-card-header>
      <img src="{{ c.countryInfo.flag }}" width="50%">
      <ion-card-title>
        {{ c.country }}
      </ion-card-title>
      <ion-card-subtitle>
        Casos totais: {{ c.cases }}
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-text color="dark">
          <ion-icon name="add-outline"></ion-icon>
          <b>Total de Mortes: {{ c.deaths }} </b>
        </ion-text> <br />
        <ion-text color="dark">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <b>Casos de Hoje: {{ c.todayCases }} </b>
        </ion-text> <br />
        <ion-text color="dark">
          <ion-icon name="arrow-down-outline"></ion-icon>
          <b>Mortes Hoje: {{ c.todayDeaths }} </b>
        </ion-text> <br />
        <ion-text color="dark">
          <ion-icon name="bandage-outline"></ion-icon>
          <b>Recuperados: {{ c.recovered }} </b>
        </ion-text> <br />
        <ion-text color="dark">
          <ion-icon name="thermometer-outline"></ion-icon>
          <b>Casos Ativos: {{ c.active }} </b>
        </ion-text> <br />
        <ion-text color="dark">
          <ion-icon name="fitness-outline"></ion-icon>
          <b>Casos Críticos: {{ c.critical }} </b>
        </ion-text> <br />
      </ion-list>
      <ion-footer> <ion-label> <font size="1"> Atualizado: {{ c.updated | date: 'dd/MM/yyyy hh:mm a' }} - Fonte: <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/events-as-they-happen" target="_blank">WHO</a> </font></ion-label></ion-footer>
    </ion-card-content>
  </ion-card>
</ion-content>
